:root {
    --superhero: 'Bangers', cursive;
    --fantasy: 'MedievalSharp', cursive;
    --space: 'Orbitron', sans-serif;
    --military: 'Black Ops One', cursive;
    --romantic: 'La Belle Aurore', cursive;
    --scary: 'Creepster', cursive;
    --cowboy: 'Rye', cursive;
    --regular: sans-serif;
    --fantasy: 'MedievalSharp', cursive;
    --font: var(--regular);
    --sharp: 0;
    --soft: 10px;
    --round: 100px;
    
    --image: var(--soft);
    
    --background: #f5f5f5;
    --text: #222222;
    
    --light: var(--background);
    --dark: var(--text);
}


body, html {
    margin: 0;
    padding: 10px;
    background: var(--background);
    color: whitesmoke;
    font-family: var(--font);
}

img {
    width: 150px;
    border-radius: calc(var(--image) * 2);
    border: 4px solid var(--text);
}

a {
    color: var(--text);
}

input {
    display: block;
    margin: 20px 0 0;
    width: 160px;
    box-sizing: border-box;
    padding: 4px 8px;
    border-width: 1px; 
    border-style: solid;
    border-color:  var(--text);
    color: var(--text);
    background: none;
    border-radius: var(--image);
    font-family: var(--font);
}

::placeholder {
    color: var(--text);
}

button {
    border-radius: var(--image);
    padding: 5px 10px;
    border: none;
    background: var(--text);
    color: var(--background);
    font-weight: bold;
    box-sizing: border-box;
    display: block;
    margin: 8px 0;
    cursor: pointer;
    font-family: var(--font);
    width: 160px;
}

.emoji-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.item {
    background: var(--light);
    border-radius: var(--image);
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 7px rgba(0,0,0,0.8);
    margin: 10px 10px;
    font-size: 1.5rem;
}

.item:hover {
    background: var(--dark);
    color: var(--light);
    box-shadow: 0 4px 14px rgba(0,0,0,0.8);
    transform: scale(1.20);
    transition: all 0.7s ease-in-out;
    cursor: pointer;
}

#main-container {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    /* border: 2px solid var(--text); */
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 24px rgba(255, 255, 255, 0.8);
    margin-top: 2rem;
}

a {
    text-decoration: u;
    color: var(--text);
    font-weight: bold;
    box-sizing: border-box;
    display: block;
    margin: 8px 0;
    cursor: pointer;
    font-family: var(--font);
    width: 160px;
    padding: 5px 10px;
    border-radius: var(--image);
    background: var(--text);
    color: var(--background);
}

#solo-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}

#solo-project a {
    width: auto;
    border-radius: var(--image);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 10px 20px;
    color: var(--background);
    text-decoration: none;
}

#solo-project a:hover {
    background: var(--dark);
    color: var(--light);
    box-shadow: 0 4px 14px rgba(0,0,0,0.8);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}